.centre {
    margin: auto;
    padding: auto;
    text-align: center;
}
.mylist {
    display: inline-block;
    text-align: left;
}
#heading{

    height: 100px;
}

#title{
    padding-top: 5%;
    font-size: 200%;
}
#heading{
    
}

#img-div{
    margin-top: 2%;
    background-color:bisque;
}
#image{
    padding-top: 5%;
    height: auto;
    display: block;
    max-width: 100%;
}

#img-caption{
    padding-bottom: 5%;
}
#tribute-info{
    
}

#main{
    margin-top: auto;
    background-color: cornsilk;
    margin-bottom: auto;
    margin-right: auto;
}

