.centre {
    margin: auto;
    padding: auto;
    text-align: center;
}
.mylist {
    display: inline-block;
    text-align: left;
}
#heading{
    height: 100px;
}

#title{
    font-size: 200%;
}
#heading{
    background-color: cornsilk;
}

#img-div{
    max-width: 1000%;
    max-height: 100%;
    background-color:bisque;
}
#image{
    /* max-width: 70%;
    height: auto;
    display: block; */
    max-height: 50%;
    max-width: 50%;
    /* display: block;
    width: 50%; */

}